/* menu */

header {
  position: relative;
  top: 2%;
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 7%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.4rem;
  gap: 30px;
  overflow-x: auto;
}

header a {
  font-family: "overskrift2";
  text-decoration: none;
  font-weight: 1000;
  color: #f07900;
}

a {
  text-decoration: none;
  font-weight: 1000;
  color: black;
}

header a:hover {
  border-bottom: 1px solid;
  transition: all 0.3s ease-in-out;
}

.index_nav {
  margin-top: 50px;
}

/****** breadcrum list *****/

ul.breadcrumb {
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-family: "tekst_font";
  font-weight: 200;
  font-style: normal;
  color: #f07900;
  font-size: 15px;
  letter-spacing: 0.1em;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: #7c5231;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #7c5231;
}

ul.breadcrumb li a:hover {
  color: #f07900;
}

/* forside */

/* logo- mobilsite */
.logo {
  display: none;
}

/* Footer - mobilsite */
footer {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Portfolio - mobilsite */

.portfolio {
  text-align: center;
}

.tekst_web {
  display: none;
}

.p_second_section,
.p_third_section,
.p_fourth_section,
.p_fifth_section {
  text-align: center;
}

/* Tema 2 - mobilsite */

.second_section {
  text-align: center;
}

.tema2_grid {
  display: grid;
}

/* Tema 3 - mobilsite */
.tema3_grid {
  display: grid;
}

/* Tema 4 - mobilsite */

.tema4_grid {
  display: grid;
}

/* Tema 5 - mobilsite */

/* Om mig - mobilsite */

.socialemedia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 30%;
}

@media (min-width: 700px) {
  /* menu */

  header {
    position: relative;
    top: 2%;
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: block;
    width: 7%;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 0.4rem;
    gap: 30px;
    overflow-x: auto;
  }

  header a {
    font-family: "overskrift2";
    text-decoration: none;
    font-weight: 1000;
    color: #f07900;
  }

  a {
    text-decoration: none;
    font-weight: 1000;
    color: black;
  }

  header a:hover {
    border-bottom: 1px solid;
    transition: all 0.3s ease-in-out;
  }

  .index_nav {
    margin-top: 50px;
  }

  /****** breadcrum list *****/

  ol.breadcrumb {
    list-style: none;
  }

  ol.breadcrumb li {
    display: inline;
    font-family: "tekst_font";
    font-weight: 200;
    font-style: normal;
    color: #f07900;
    font-size: 15px;
    letter-spacing: 0.1em;
  }

  ol.breadcrumb li + li:before {
    padding: 8px;
    color: #7c5231;
    content: "/\00a0";
  }

  ol.breadcrumb li a {
    color: #7c5231;
  }

  ol.breadcrumb li a:hover {
    color: #f07900;
  }

  /* forside */

  .forside_billede {
    top: 10px;
    width: auto;
  }

  .forside_billede_mobil {
    display: none;
  }

  /* portfolio */

  .portfolio {
    margin: 50px;
    text-align: center;
  }

  .tekst_mobil {
    display: none;
  }

  .tekst_web {
    display: grid;
  }

  .p_second_section,
  .p_third_section,
  .p_fourth_section,
  .p_fifth_section {
    text-align: left;
  }

  /* footer */

  footer {
    display: grid;
    padding: 50px;
  }

  .section_footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
  }

  /* tema 2 */

  .tema2_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  /* tema 3 */

  .tema3_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  /* tema 4 */

  .tema4_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  /* om mig */

  .ommig_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    text-align: center;
  }

  .socialemedia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 35%;
  }

  .mig_billede {
    --_g: 10% / 45% 45% no-repeat linear-gradient(black 0 0);
    --m: left var(--_i, 0%) top var(--_g), bottom var(--_i, 0%) left var(--_g), top var(--_i, 0%) right var(--_g), right var(--_i, 0%) bottom var(--_g);
    -webkit-mask: var(--m);
    mask: var(--m);
    filter: grayscale(1);
    transition: 0.3s linear;
    cursor: pointer;
  }
  img:hover {
    --_i: 10%;
    filter: grayscale(0);
  }
}
